<div class="timeline-shelf-inner-container">

    <smooth-dnd-container (drop)="onDrop($event)" [behaviour]="'copy'" [orientation]="'horizontal'" class="shelf-dnd-container"
        [groupName]="'timeline'" [getChildPayload]="getChildPayload" (dragStart)="onDragStart($event)" #shelfContainer
        [dragClass]="'timeline-entry-drag'" [nonDragAreaSelector]="'timeline-entry-model-info'">
        <smooth-dnd-draggable *ngFor="let item of shelfItems">
            <div class="draggable-item">
                <timeline-entry-item [model]="item" [timelineNewEntry]="timelineNewEntry" [inShelf]="true"></timeline-entry-item>
            </div>
        </smooth-dnd-draggable>
    </smooth-dnd-container>

</div>