.timeline-shelf-inner-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shelf-dnd-container {
    overflow-x: auto;
    overflow-y: visible;
    max-width: 800px;
    height: 230px;

}


@media #{$sm-down} {

    .shelf-dnd-container {
        overflow-x: auto;
    }
    

    .shelf-dnd-container .smooth-dnd-container
    {
        display: inline-flex;
    flex-direction: column;

    }
    
    timeline-entry-item .timeline-entry-model-info
    {
        display: none;
    }

    timeline-entry-item .timeline-entry-item-inner-container
    {
        width: auto;
    }

}