
@import '../../assets/timeline';
 
.timeline-shelf-inner-container
{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

.shelf-item-label
{
    display: inline-block;
    max-width: 120px;
}


.dragged {
    opacity: 0.3;
}

.shelf-labels-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tshelf {
	border-bottom: 30px solid #a5a5a5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
	top: -15px;
	z-index: -10;
}
/*Example adding pseudo element to give shelf depth*/
.tshelf:after {
    content: '';
    background: #686868;
    height: 20px;
    /* width: calc(100% - 40px); */
    /* width: 1000px; */
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 1;
    /* margin: 0 -20px; */
}

.shelf-dnd-container {
    overflow-x: auto;
    overflow-y: visible;
    // max-width: 800px;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;

    .draggable-item
    {
        text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .draggable-item-shelf:before
    {
        content: '';
        display: block;
        width: 66px;
        height: 1em;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
        position: absolute;
        bottom: 11px;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        z-index: 0;
    }
}


@media #{$sm-down} {

    .shelf-dnd-container {
        overflow-x: auto;
    }
    

    .shelf-dnd-container .smooth-dnd-container
    {
        display: inline-flex;
    flex-direction: column;

    }
    
    timeline-entry-item .timeline-entry-model-info
    {
        display: none;
    }

    timeline-entry-item .timeline-entry-item-inner-container
    {
        width: auto;
    }

}