@import "../../assets/timeline";

.slot-container
{
    border: 2px solid gray;
}
.slot-container.slot-drag-over 
{
    border: 3px dashed blue;
}

.timeline-slot-model-header
{
    position: absolute;
}

timeline-slot{
    display: inline-block;
    vertical-align:top;
}

timeline-slot smooth-dnd-container
{
    width: 70px;
    height: 70px;
    display: inline-block;
}

.slot-container.btn-circle.btn-xl
{
    padding: 0px !important;
}