@import "../../assets/timeline";

.slot-container
{
    border: 2px solid#3498DB


    
}
.slot-container.slot-drag-over 
{
    border: 3px dashed#3498DB
}

.timeline-slot-model-header
{
    position: absolute;
}

timeline-slot{
    display: inline-block;
    vertical-align:top;
    
}

timeline-slot smooth-dnd-container
{
    width: $timeline-entry-size;
    height: $timeline-entry-size;
    display: inline-block;
}

.slot-container.btn-circle.btn-xl
{
    padding: 0px !important;
}

.timeline-slot-container
{
    width: $timeline-entry-size;
    height: $timeline-entry-size;

    button {
		border-color: #b9d0d8;
		border-width: 3px;
	}
}

@media #{$sm-down} {
.timeline-slot-container
{ 
    width: $timeline-entry-size-sm;
    height: $timeline-entry-size-sm;
}
}