@import "../../../assets/styles";

.modal-footer .btn:first-of-type {
  margin-right: 20px;
}

.map-outer {
  flex: 1;
}

timeline-new-entry .map-container {
  width: 500px;
  height: 430px;
}

timeline-new-entry mgl-map {
  width: 500px;
  height: 400px !important;
}

.new-entry-modal-body {
  margin: 5px;
}

@media #{$sm-down} {
  timeline-new-entry .new-entry-modal-body .dropdown-menu {
    min-width: auto !important;
    overflow-x: hidden !important;
    max-width: 100%;

    .dropdown-item .text {
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}

.model-body-map {
  padding: 0 !important;
  min-height: auto;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: start;
  align-content: center;
  flex-direction: row;
  display: flex;

  .input-part {
    width: 100%;
    margin: 40px;
  }

  .purpose-select {
    height: 60px;
    width: 300px;
  }
}
