<timeline-slot [startLocation]="true"></timeline-slot>

<div class="timeline-dock-inner-container">
    <div class="timeline-bar" [ngClass]="{'timeline-drag-over' : dragActive}"></div>

    <smooth-dnd-container (drop)="onDrop($event)" [behaviour]="'move'" [orientation]="'horizontal'" [groupName]="'timeline'"
        [getChildPayload]="getChildPayload" (dragEnter)="onDragEnter()" (dragLeave)="onDragLeave()" class="timeline-dnd-dock"
        (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd($event)" #dockContainer>

        <smooth-dnd-draggable *ngFor="let item of dockItems">
            <div class="draggable-item">
                <timeline-entry-item [model]="item">

                </timeline-entry-item>
            </div>
        </smooth-dnd-draggable>
    </smooth-dnd-container>
</div>
<timeline-slot [endLocation]="true"></timeline-slot>

<div class="timeline-dock-info">
    <div class="timeline-dock-info-start">
        START OF THE DAY
    </div>
    <div class="timeline-dock-info-centre">
        <span></span>
    </div>
    <div class="timeline-dock-info-end">
        END OF THE DAY
    </div>
</div>