@import "../../assets/timeline";

.btn-circle.btn-xl {
    width: $timeline-entry-size;
    height:  $timeline-entry-size;

    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
}

.timeline-bar
{
    height: 4px;
    background-color: #95a5a6;
    position: absolute;
    left: 10px;
    right: 10px;
}

.timeline-bar.timeline-drag-over
{
    background-color:#3498DB;
}

.timeline-dock-inner-container
{
    display:inline-flex;
    align-items: center;
    justify-content: end;
    width:75%;
    position: relative;
    vertical-align:top;
}

.timeline-dnd-dock
{
    flex:1;
}

timeline-dock .timeline-dock-inner-container .smooth-dnd-container.horizontal
{
    height: $timeline-entry-size;
    display: inline-flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    width:90%;
    vertical-align: top;
}

timeline-dock timeline-slot .smooth-dnd-container.horizontal
{
    height: $timeline-entry-size;

    width:$timeline-entry-size;
}


timeline-dock .timeline-entry-model-info
{
    display: none;
}

@media #{$sm-down} {
	.btn-circle.btn-xl {
        width: $timeline-entry-size-sm;
        height:  $timeline-entry-size-sm;
        padding: 4px;

    }
    timeline-dock timeline-slot .smooth-dnd-container.horizontal
    {
        height: $timeline-entry-size-sm;

        width:$timeline-entry-size-sm;
    }

    timeline-dock .timeline-dock-inner-container .smooth-dnd-container.horizontal
    {
        height: $timeline-entry-size-sm;
    }
    
}