@import "../../assets/timeline";

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px !important;
}

.timeline-bar
{
    height: 4px;
    background-color: blue;
}

.timeline-dock-inner-container
{
    display:inline-flex;
    align-items: center;
    justify-content: end;
    width:75%;
}