$trips-home-colour: #82b8e2;
$trips-work-colour: #b29e85;
$trips-school-colour: #669d4d;
$trips-other-colour: #607D8B;
$trips-shopping-colour: #7847b8;
$trips-facilitate-passenger-colour: #276c6c;
$trips-daycare-passenger-colour: #D768A5;

h6 {
  font-weight: bold;
  position: relative;
  top: 20px;
  margin-top: 0px;
}