<div class="timeline-summary-container">
    <div class="timeline-summary-bar"></div>
    <span *ngFor="let location of timelineLocations">
        <timeline-entry-item [model]="location" class="summary-item"></timeline-entry-item>
    </span>

</div>

<div class="timeline-summary-time-input-container">

    <span *ngFor="let location of timelineLocations">
        <div class="time-input-container">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="clockIcon"></fa-icon>
                    </span>
                </div>
                <input placeholder="9:00" class="form-control form-control-sm">
            </div>
        </div>
    </span>

</div>

<div class="summary-wedges">

</div>


<div class="summary-times-dates-container">
    <div class="summary-times-dates" *ngIf="config">
        <span class="start-date"> {{config.startTime | date:'mediumDate'}}</span>
        <span class="end-date">
            {{config.endTime | date:'mediumDate'}}
        </span>
    </div>
    <div class="summary-times">
        <span class="hour-label" *ngFor="let hour of hours">{{hour}}</span>
    </div>
</div>