@import '../routes/v1/styles/trips.scss';
@import '~node_modules/leaflet/dist/leaflet.css';

.trips-app-container
{
   
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute; 

}