<div class="timeline-container">

    <div class="timeline-instructions-top">
        <alert type="info" #instructionsAlert>
            Where did you go yesterday? Please populate the timeline below by dragging and dropping locations from the
            shelf to the timeline.
        </alert>

    </div>

    <div class="timeline-shelf-container">
        <timeline-shelf></timeline-shelf>
        <button type="button" class="btn btn-primary">
            + Add New Location
        </button>
    </div>

    <div class="timleine-dock-container">
        <timeline-dock></timeline-dock>
    </div>

</div>

<ng-template #questionTemplate>
    <ng-container #container></ng-container>
</ng-template>