@media #{$md-down} {
  traisi-timeline-question {
    height: 400px;
  }
  .timeline-summary-wrapper {
    overflow-x: auto;
  }

  traisi-timeline-question {
    height: 400px;
  }

  .timeline-container-step-1 {
    display: flex;
  }

  .timeline-instructions-top {
    display: none;
  }
}
