@media #{$sm-down} {


    
    traisi-timeline-question{
        height: 400px;
    }

    .timeline-container-step-1
    {
        display:flex;
    }

    .timeline-instructions-top
    {
        display:none;
    }
}
