<div class="timeline-container">
	<div *ngIf="isStep1" class="timeline-container-step-1" traisiQuestionInternalView>
		<div class="timeline-instructions-top">
			<alert type="secondary" #instructionsAlert>
				<div>Where did you go yesterday? Please populate the timeline below by dragging and dropping locations
					from the shelf to the
					timeline.</div>
				<div style="text-align: center">
					<i class="fas fa-question-circle" style="margin-right: 5px"></i><a
						href="https://www.youtube.com/watch?v=SK4lw6JbNvA" target="_blank">Logging with the
						travel diary tutorial</a></div>

			</alert>

		</div>

		<div class="timeline-shelf-container">
			<timeline-shelf [timelineNewEntry]="newEntryDialog"></timeline-shelf>

			<div>
				<button type="button" class="btn btn-primary timeline-add-new-location-button"
					(click)="addNewLocation()">
					+ Add New Location
				</button>
			</div>
		</div>


		<div class="timeline-dock-container" class="target-block">
			<timeline-dock #timelineDock triggers="">
			</timeline-dock>

			<!--<timeline-dock #timelineDock triggers="" popoverTitle="Invalid Timeline" placement="top"
				[popover]="duplicateLocationPopTemplate" #popover="bs-popover">
			</timeline-dock>-->

		</div>

		<div class="timeline-error-container" #errors [hidden]="!hasAdjacent">
			<alert type="danger">Two adjacent entries cannot be the same location.</alert>
		</div>
	</div>
	<div *ngIf="isStep2" traisiQuestionInternalView class="timeline-summary-wrapper">
		<timeline-summary [timeline]="this"></timeline-summary>
	</div>
</div>
<timeline-new-entry #newEntry></timeline-new-entry>

<ng-template #duplicateLocationPopTemplate>
	<div>Two adjacent entries cannot be the same location.</div>
	<div class="confirm-start-location-button"><button type="button" class="btn btn-primary"
			(click)="closePopover()">Okay</button></div>
</ng-template>

