//@media #{$md-down} {
	.timeline-entry-model-address {
		text-align: center;
		word-break: break-word;
		width: auto;
		max-height: 22px;
		overflow: hidden;
	}

	.timeline-entry-item-inner-container {

		margin-left:5px;
		margin-right:5px;
	}
	
//}