timeline-entry-item {

}

.timeline-entry-model-name {
	font-weight: bold;
	text-align: center;
}

.timeline-entry-model-address {
	text-align: center;
	word-break: break-word;
    width: 150px;
    max-height: 22px;
    overflow: hidden;
}

.timeline-entry-inner-container {
	align-items: center;
	align-content: center;
	display: flex;
	flex-direction: column;
}

.timeline-entry-item-inner-container {
	text-align: center;
}


.item-drag-active{
    opacity: 0.3;
    filter: blur(5);
}

.timeline-entry-drag .timeline-entry-model-info
{
	display: none;
}

.timeline-btn-inner
{
	position: relative;
}