<md-dialog aria-label="{$ headerText $}">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="timeline-dialog-header" translate="CONFIRM_HOME_DIALOG_HEADER"
                  translate-values="translateData"></span>
            <!-- <{$ 'CONFIRM_HOME_DIALOG_HEADER' | translate | htmlFilter $}</h2> -->
            <span flex></span>

        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content trip-diary-dialog">



            <span translate="CONFIRM_HOME_DIALOG_TEXT"
                  translate-values="translateData">

            <!--{$ descriptionText | htmlFilter | sanitize $} -->
        </span>

            <md-radio-group ng-model="chosenLocation">
                <md-radio-button ng-value="location" ng-repeat="location in locations">


                    <span class="dialog-location-address">
                            {$ location.address $}
                        </span>
                </md-radio-button>

            </md-radio-group>

        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">

        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <span flex></span>
        <md-button ng-disabled="chosenLocation == null" ng-click="close()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>