<!--<div class="timeline-description" translate="TIMELINE_DESCRIPTION" translate-values="tc.translateData">
    {$ 'TIMELINE_DESCRIPTION' | translate:tc.translateData | htmlFilter $}
</div> -->

<timeline-connector ng-cloak location-name="{$ tc.value.startLocation.locationPurpose $}"
                    location-id="{$ tc.value.startLocation.id $}" ng-if="tc.value.startLocation"></timeline-connector>
<timeline-connector ng-cloak location-name="{$ tc.value.endLocation.locationPurpose $}"
                    location-id="{$ tc.value.endLocation.id $}"
                    ng-if="tc.value.endLocation"></timeline-connector>

<timeline-connector ng-cloak ng-repeat="location in tc.value.tripLocations"
                    location-name="{$ location.locationPurpose $}"
                    location-id="{$ location.id $}"></timeline-connector>


<div class="add-intermediate">

    <div scroll-view-watcher scroll-enter-callback="_tllc.iScrollEnter()"
         scroll-leave-callback="_tllc.iScrollLeave()">

        <!--ng-click="tc.addTripLocation('INTERMEDIATE_LOCATION')"-->
        <md-menu>
            <md-button id="add-intermediate-location-{$ $root.questionId $}" ng-click="$mdMenu.open($event)"
                       ng-hide="!tc.value.startLocation || !tc.value.endLocation"
                       class="md-primary md-raised" aria-label="Add Home Location">
                <md-icon class="md-48">add</md-icon>

                {$ "ADD_VISITED_LOCATION" | translate $}

            </md-button>
            <md-menu-content ng-mouseleave="$mdMenu.close()" prevent-scroll width="2">


                <md-menu-item>
                    <md-button ng-click="tc.addTripLocation('INTERMEDIATE_LOCATION')">
                        <md-icon class="md-8">place</md-icon>
                        {$ "ADD_LOCATION" | translate $}
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-repeat="location in tc.configService._surveyLocations">

                    <md-button ng-click="tc.addTripLocation('INTERMEDIATE_LOCATION',location)">
                        <span class="location-main">
                        <md-icon ng-if="!location.purpose" class="md-8">{$ location.name | lowercase $}</md-icon>
                        <md-icon ng-if="location.purpose" class="md-8">{$ $tds.getTimelineIcon(location.purpose) |
                            lowercase $}
                        </md-icon>
                            <span class="location-name-text">
                               {$ location.name $}
                                </span>
                        </span>
                        <span class="location-address">
                            {$ location.address $}
                        </span>


                    </md-button>
                </md-menu-item>

            </md-menu-content>

        </md-menu>
    </div>

</div>
<div class="timeline-line-container">


    <div class="timeline-main" ng-class="{'move-up': tc.value.mapView}">


        <timeline-line></timeline-line>


    </div>


</div>


<div class="timeline-footer-container">


    <div class="timeline-progress">

        <div location-id="{$ tc.value.startLocation.id $}" id="timeline-segment-{$tc.value.startLocation.id$}"
             start-of-day="{$ tc.startDate $}"
             timeline-segment state="tc.value.startLocation"
             ng-if="tc.value.startLocation"
             class="timeline-segment {$ tc.value.startLocation._locationPurpose $}">

        </div>


        <div location-id="{$ tc.value.endLocation.id $}" id="timeline-segment-{$tc.value.endLocation.id$}"
             timeline-segment ng-if="tc.value.endLocation" start-of-day="{$ tc.startDate $}"
             state="tc.value.endLocation" ng-if="tc.value.endLocation"
             class="timeline-segment {$ tc.value.endLocation._locationPurpose $}">

        </div>

        <div location-id="{$ segment.id $}" id="timeline-segment-{$ segment.id $}" start-of-day="{$ tc.startDate $}"
             ng-repeat="segment in tc.value.tripLocations track by $index"
             timeline-segment state="segment"
             class="timeline-segment {$ segment._locationPurpose $}">


        </div>


    </div>


    <div class="timeline-values">


        <div class="timeline-dates">
            <div class="current-day">
                {$ tc.todayDateDisplay $}
            </div>

            <div class="next-day">
                {$ tc.tomorrowDateDisplay $}
            </div>
        </div>
        <div class="timeline-tabs" id="timeline-tabs">

            <div class="timeline-tab" ng-class-odd="'timeline-tab-odd'"
                 ng-repeat="time in tc.tripTimeline.timelineSegments">
                <div class="timeline-tab-inner">
                    {$ time $}
                </div>
            </div>


        </div>
    </div>
</div>

</div>
<div class="timeline-today">{$ tc.tripTimeline.timelineSegments[0].toDateString() $}</div>
<div class="timeline-tomorrow">{$ tc.tripTimeline.timelineSegments[0].toDateString() $}</div>